<%= name.mobile %><br>
    <%= name.username %><br>
        <%= name.email %><br>
            <%= name.fullName %><br>
                <%= name.country %><br>
                    <%= name.countryCode %><br>
                        <a href="logout">Logout</a>